{% extends "section.html" %}

{% block body %}
  {% set page_class = "support list" %}
{% endblock body %}

{% block header %}
  {# This value is matched by the config.extra.menu.main->section #}
  {% set current_section = "support" %}
  {{ macros_header::header(current_section=current_section)}}
{% endblock header %}

{% block content %}
<div class="wrap container" role="document">
  <div class="content">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-12 col-xxl-12">
          <h1 class="text-center">{{ section.title }}</h1>
          <p class="text-center">{{ section.description }}</b>
      </div>
    </div>
  </div>
</div>

<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      {% for page in paginator.pages %}
      
        {% if page.extra.crypto %}
        <div class="col-12 col-lg-4">
          <a href="{{page.permalink}}" data-toggle="modal">
            <img class="image-display" src="/{{ page.extra.image }}" alt="{{ page.extra.alt }}" />
          </a>
          <p>
        </div>
        {% else %}
        <div class="col-12 col-lg-4">
          <a href="{{ page.extra.url }}" target="_blank">
            <img class="image-display" src="/{{ page.extra.image }}" alt="{{ page.extra.alt }}" />
          </a>
          <p>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
{% endblock content %}
