{% macro footer() %}
<footer class="footer text-muted">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 order-last order-lg-first">
				<ul class="list-inline">
					{% if section.extra.footer %}
						{% for val in section.extra.footer %}
						<li class="list-inline-item">{{ val.info | safe }}</li>
						{% endfor %}
					{% elif page.extra.footer %}
						{% for val in page.extra.footer %}
						<li class="list-inline-item">{{ val.info | safe }}</li>
						{% endfor %}
					{% endif %}
				</ul>
			</div>
		</div>
	</div>
</footer>
{% endmacro %}
