{% extends "section.html" %}

{% block body %}
  {% set page_class = "blog list" %}
{% endblock body %}

{% block header %}
  {# This value is matched by the config.extra.menu.main->section #}
  {% set current_section = "blog" %}
  {{ macros_header::header(current_section=current_section)}}
{% endblock header %}

{% block content %}
<div class="wrap container" role="document">
  <div class="row justify-content-center">
    <div class="col-md-12 col-lg-10 col-xxl-8">
        <h1 class="text-center">{{ section.title }}</h1>
    </div>
  </div>
</div>

<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center">
      {% for page in paginator.pages %}
      <div class="col-lg-12">
        
        <a href="{{page.permalink}}">
          <h1>{{ page.title }}</h1>
        </a>
        <p> Posted on {{ page.date }}</p>
        <p> {{ page.description | safe }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock content %}
