{%- import 'macros/head.html' as macros_head -%}
{% import 'macros/header.html' as macros_header -%}
{% import 'macros/footer.html' as macros_footer -%}
{% import 'macros/javascript.html' as macros_js -%}
{% import 'macros/section-navigation.html' as macros_section_nav -%}
<!DOCTYPE html>
<html lang="{{ config.extra.language_code | default(value="en-US") }}">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{{ macros_head::resource() }}
{{ macros_head::stylesheet() }}

{% block seo %}
  {% if config.extra.title_separator %}
    {% set title_separator = " " ~ config.extra.title_separator ~ " " %}
  {% else %}
    {% set title_separator = " | " %}
  {% endif %}
{% endblock seo %}

{{ macros_head::favicons() }}
<!-- Matomo -->
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://ark-builders.matomo.cloud/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src='//cdn.matomo.cloud/ark-builders.matomo.cloud/matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->

</head>
{% block body %}{% set page_class="home" %}{% endblock body %}
<body class="{{ page_class }}">
  {% block header %}
    {{ macros_header::header(current_section="/") }}
  {% endblock header %}

  {% block content %}{% endblock content %}

  {% block footer %}
    {{ macros_footer::footer() }}
  {% endblock footer %}

  {{ macros_js::javascript() }}  
</body>
</html>
