{% extends "section.html" %}

{% block body %}
  {% set page_class = "contribute list" %}
{% endblock body %}

{% block header %}
  {# This value is matched by the config.extra.menu.main->section #}
  {% set current_section = "contribute" %}
  {{ macros_header::header(current_section=current_section)}}
{% endblock header %}

{% block content %}
<div class="wrap container" role="document">
  <div class="content">
    <div class="row justify-content-center">
      <div class="">
          <h1 class="text-center">{{ section.title }}</h1>
          <div class="tabset">
            <!-- Tab 1 -->
            <input type="radio" name="tabset" id="tab1" aria-controls="goodFirstIssue" checked>
            <label for="tab1">Good First Issue</label>
            <!-- Tab 2 -->
            <input type="radio" name="tabset" id="tab2" aria-controls="bug">
            <label for="tab2">Bug</label>
            <!-- Tab 3 -->
            <input type="radio" name="tabset" id="tab3" aria-controls="enhancement">
            <label for="tab3">Enhancement</label>
            <input type="radio" name="tabset" id="tab4" aria-controls="feature">
            <label for="tab4">Feature</label>
            <hr>
            <div class="tab-panels">
              <section id="goodFirstIssue" class="tab-panel">
                <table class="table mt-2" id="goodFirstIssueTable">
                  <thead>
                    <tr>
                      <th scope="col">Title</th>
                      <th scope="col">State</th>
                      <th scope="col">Author</th>
                      <th scope="col">Projects</th>
                      <th scope="col">Milestone</th>
                      <th scope="col">Assignee</th>
                      <th scope="col" style="width: 100px;">Date</th>
                      <th scope="col">Issue</th>
                      <th scope="col">Repository</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
                
                <div class="loader hidden" id="loader"></div>
              </section>
              <section id="bug" class="tab-panel">
                <table class="table mt-2" id="bugTable">
                  <thead>
                    <tr>
                      <th scope="col">Title</th>
                      <th scope="col">State</th>
                      <th scope="col">Author</th>
                      <th scope="col">Projects</th>
                      <th scope="col">Milestone</th>
                      <th scope="col">Assignee</th>
                      <th scope="col" style="width: 100px;">Date</th>
                      <th scope="col">Issue</th>
                      <th scope="col">Repository</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </section>
              <section id="enhancement" class="tab-panel">
                <table class="table mt-2" id="enhancementTable">
                  <thead>
                    <tr>
                      <th scope="col">Title</th>
                      <th scope="col">State</th>
                      <th scope="col">Author</th>
                      <th scope="col">Projects</th>
                      <th scope="col">Milestone</th>
                      <th scope="col">Assignee</th>
                      <th scope="col" style="width: 100px;">Date</th>
                      <th scope="col">Issue</th>
                      <th scope="col">Repository</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </section>
              <section id="feature" class="tab-panel">
                <table class="table mt-2" id="featureTable">
                  <thead>
                    <tr>
                      <th scope="col">Title</th>
                      <th scope="col">State</th>
                      <th scope="col">Author</th>
                      <th scope="col">Projects</th>
                      <th scope="col">Milestone</th>
                      <th scope="col">Assignee</th>
                      <th scope="col" style="width: 100px;">Date</th>
                      <th scope="col">Issue</th>
                      <th scope="col">Repository</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </section>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

{{ section.content }}
{% endblock content %}
